.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
}

h3 {
  padding: 10px;
}

.auth-link {
  padding: 10px;
  width: 90px;
  height: 40px;
  border-radius: 10px;
}

.auth-link > a {
  text-decoration: none;
}
